body {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.2;
  color: #000000;
}

nav {
  height: 65px;
  max-width: 1600px;
  padding: 0 60px 0 60px;
  background-color: #ffffff;
  text-align: center;
  position: relative;
}
nav .button {
  position: absolute;
  width: 56px;
  height: 65px;
  left: 0;
  cursor: pointer;
}
nav .button .burger {
  display: inline-block;
  background-image: url(/media/lines.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 65px;
  width: 50%;
}
nav .button .burger:hover {
  background-image: url(/media/cross.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 65px;
  width: 50%;
}
nav .button .burger .menu {
  display: none;
}
nav .button .burger .menu ul {
  list-style-type: none;
}
nav .button .burger .menu ul li:first-of-type {
  border-top: 2px solid black;
}
nav .button .burger .menu ul li {
  font-size: 14px;
  font-weight: 800;
  border-top: 0.5px solid rgba(0, 0, 0, 0.1098039216);
  text-align: left;
  position: relative;
  display: block;
  list-style: none;
  width: 100vw;
  background-color: #ffffff;
  height: 61px;
  top: 49px;
  left: -56px;
}
nav .button .burger .menu ul p {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 50px;
  margin: 0;
}
nav img {
  width: 83px;
  height: 34px;
  margin-top: 15px;
  cursor: pointer;
}

.button .burger:hover .menu {
  display: initial;
}

article1 {
  width: 100%;
  height: auto;
}
article1 .mandalorian {
  width: 100%;
  height: auto;
  vertical-align: bottom;
  display: inline-block;
}
article1 .contentContainerMandolorian {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  height: 165px;
  padding: 20px 25px 50px 25px;
}
article1 .contentContainerMandolorian .contentBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
article1 .contentContainerMandolorian .contentBody img {
  width: 250px;
  height: 73px;
  cursor: pointer;
}
article1 .contentContainerMandolorian .contentBody p {
  color: #ffffff;
  height: 24px;
  width: 183.828px;
  margin: 8px 0px 0px 0px;
  text-align: center;
  line-height: 1.5;
  font-size: 15.1px;
  cursor: pointer;
}
article1 .contentContainerMandolorian .contentBody .button2 {
  display: flex;
  width: 174px;
  height: 14px;
  padding: 16px 32px 16px 32px;
  border: 1px solid #2e7d49;
  border-radius: 24px;
  background-color: #2e7d49;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  margin: 12px 12px 0px 12px;
}
article1 .contentContainerMandolorian .contentBody .button2:hover {
  background-color: rgba(46, 125, 74, 0.9411764706);
  border: 1px solid rgba(46, 125, 74, 0.9411764706);
}
article1 .contentContainerMandolorian .contentBody .button2 p {
  width: 138.773px;
  height: 16px;
  color: #ffffff;
  margin: 0;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  padding: 0;
  line-height: 1.2;
}

.mandalorianContainer2 {
  display: none;
}

.contentContainerMandolorian2 {
  display: none;
}

article2 {
  min-width: 260px;
  padding: 8px 23px 16px 23px;
  display: flex;
  flex-direction: column;
  background-color: #f1f2f3;
  gap: 20px;
}
article2 .box1 {
  display: flex;
  flex-direction: column;
  text-align: left;
  border-radius: 4px;
  background-color: #ffffff;
  overflow: hidden;
  cursor: pointer;
  height: -moz-max-content;
  height: max-content;
}
article2 .box1 img {
  width: 100%;
}
article2 .box1 p:first-of-type {
  padding: 20px 20px 0px 20px;
  margin: 0;
  font-size: 20px;
}
article2 .box1 p:nth-of-type(2) {
  font-size: 13.3px;
  padding: 0px 20px 0px 20px;
  margin: 10.08px 0px 0px 0px;
}
article2 .box1 p:nth-of-type(3) {
  font-size: 12px;
  padding: 0px 20px 20px 20px;
  margin: 20px 0px 0px 0px;
  font-weight: 700;
}
article2 .box2 {
  display: flex;
  flex-direction: column;
  text-align: left;
  border-radius: 4px;
  background-color: #ffffff;
  overflow: hidden;
  cursor: pointer;
  height: -moz-max-content;
  height: max-content;
}
article2 .box2 img {
  width: 100%;
}
article2 .box2 p:first-of-type {
  padding: 20px 20px 0px 20px;
  margin: 0;
  font-size: 20px;
}
article2 .box2 p:nth-of-type(2) {
  font-size: 13.3px;
  padding: 0px 20px 0px 20px;
  margin: 10.08px 0px 0px 0px;
}
article2 .box2 p:nth-of-type(3) {
  font-size: 12px;
  padding: 0px 20px 20px 20px;
  margin: 20px 0px 0px 0px;
  font-weight: 700;
}
article2 .box3 {
  display: flex;
  flex-direction: column;
  text-align: left;
  border-radius: 4px;
  background-color: #ffffff;
  overflow: hidden;
  cursor: pointer;
  height: -moz-max-content;
  height: max-content;
}
article2 .box3 img {
  width: 100%;
}
article2 .box3 p:first-of-type {
  padding: 20px 20px 0px 20px;
  margin: 0;
  font-size: 20px;
}
article2 .box3 p:nth-of-type(2) {
  font-size: 13.3px;
  padding: 0px 20px 0px 20px;
  margin: 10.08px 0px 0px 0px;
}
article2 .box3 p:nth-of-type(3) {
  font-size: 12px;
  padding: 0px 20px 20px 20px;
  margin: 20px 0px 0px 0px;
  font-weight: 700;
}
article2 .box4 {
  display: flex;
  flex-direction: column;
  text-align: left;
  border-radius: 4px;
  background-color: #ffffff;
  overflow: hidden;
  cursor: pointer;
  height: -moz-max-content;
  height: max-content;
}
article2 .box4 img {
  width: 100%;
}
article2 .box4 p:first-of-type {
  padding: 20px 20px 0px 20px;
  margin: 0;
  font-size: 20px;
}
article2 .box4 p:nth-of-type(2) {
  font-size: 13.3px;
  padding: 0px 20px 0px 20px;
  margin: 10.08px 0px 0px 0px;
}
article2 .box4 p:nth-of-type(3) {
  font-size: 12px;
  padding: 0px 20px 20px 20px;
  margin: 20px 0px 0px 0px;
  font-weight: 700;
}

article3 {
  display: flex;
  flex-direction: column;
  background-color: #030c40;
  text-align: center;
  color: #ffffff;
  justify-content: center;
  align-items: center;
}
article3 p:first-of-type {
  padding: 16px 23px 0px 23px;
  height: 28px;
  margin: 0;
  font-size: 24px;
  cursor: auto;
}
article3 .gridContainer1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  padding: 18px 23px 16px 23px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
article3 .gridContainer1 .imgContainer {
  overflow: hidden;
}
article3 .gridContainer1 .imgContainer img {
  width: 100%;
  vertical-align: bottom;
  cursor: pointer;
}
article3 .gridContainer1 .imgContainer img:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease;
}
article3 .gridContainer1 .pContainer {
  text-align: left;
  padding: 0;
  margin-top: 8px;
}
article3 .gridContainer1 .pContainer p {
  padding: 0;
  font-size: 18px;
  width: 100%;
  height: 100%;
}
article3 .bannerContainer {
  padding: 0px 23px 8px 23px;
  overflow: hidden;
}
article3 .bannerContainer img {
  width: 100%;
}
article3 .button3 {
  display: flex;
  width: 174px;
  height: 14px;
  padding: 16px 32px 16px 32px;
  border: 1px solid #016ef5;
  border-radius: 24px;
  background-color: #016ef5;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  margin: 0px 0px 8px 0px;
}
article3 .button3:hover {
  background-color: rgba(1, 111, 245, 0.9411764706);
  border: 1px solid rgba(1, 111, 245, 0.9411764706);
}
article3 .button3 p {
  width: 138.773px;
  height: 16px;
  color: #ffffff;
  margin: 0;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  padding: 0;
  line-height: 1.2;
}
article3 .terms {
  font-size: 13.2px;
  padding: 0px 23px 16px 23px;
}

.shop {
  padding: 16px 23px 0px 23px;
  text-align: center;
  font-size: 24px;
  background-color: #f1f2f3;
}

.shopContainer {
  padding: 8px 23px 16px 23px;
  overflow: hidden;
  background-color: #f1f2f3;
  display: flex;
  flex-direction: column;
  color: #ffffff;
}
.shopContainer .imageContainer {
  overflow: hidden;
}
.shopContainer .imageContainer img {
  width: 100%;
  background-color: #002453;
  cursor: pointer;
  vertical-align: bottom;
}
.shopContainer .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #002453;
  padding: 20px 25px 50px 25px;
}
.shopContainer .info img {
  width: 300px;
  cursor: pointer;
}
.shopContainer .info p:first-of-type {
  margin: 8px 0px 0px 0px;
  font-size: 15px;
  cursor: pointer;
}
.shopContainer .info p:nth-of-type(2) {
  padding-top: 15px;
  cursor: pointer;
}
.shopContainer .info p:nth-of-type(2):hover {
  text-decoration: underline;
}

.shopContainer:hover .shopImg {
  transform: scale(1.03);
  transition: transform 0.5s ease;
}

.parks {
  padding: 16px 23px 0px 23px;
  text-align: center;
  font-size: 24px;
  background-color: #f1f2f3;
}

.parksContainer {
  padding: 8px 23px 16px 23px;
  overflow: hidden;
  background-color: #f1f2f3;
  display: flex;
  flex-direction: column;
  color: #ffffff;
}
.parksContainer .imageContainer {
  overflow: hidden;
}
.parksContainer .imageContainer img {
  width: 100%;
  background-color: #000000;
  cursor: pointer;
  vertical-align: bottom;
}
.parksContainer .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  padding: 20px 25px 50px 25px;
}
.parksContainer .info img {
  width: 511px;
  cursor: pointer;
}
.parksContainer .info p:first-of-type {
  margin: 8px 0px 0px 0px;
  font-size: 15px;
  cursor: pointer;
}
.parksContainer .info p:nth-of-type(2) {
  padding-top: 15px;
  cursor: pointer;
}
.parksContainer .info p:nth-of-type(2):hover {
  text-decoration: underline;
}

.parksContainer:hover .parkImg {
  transform: scale(1.03);
  transition: transform 0.5s ease;
}

.article4 {
  min-width: 260px;
  padding: 8px 23px 16px 23px;
  display: flex;
  flex-direction: column;
  background-color: #f1f2f3;
  gap: 20px;
}
.article4 .box5 {
  display: flex;
  flex-direction: column;
  text-align: left;
  border-radius: 4px;
  background-color: #ffffff;
  overflow: hidden;
  cursor: pointer;
  height: -moz-max-content;
  height: max-content;
}
.article4 .box5 img {
  width: 100%;
}
.article4 .box5 p:first-of-type {
  padding: 20px 20px 0px 20px;
  margin: 0;
  font-size: 20px;
}
.article4 .box5 p:nth-of-type(2) {
  font-size: 13.3px;
  padding: 0px 20px 0px 20px;
  margin: 10.08px 0px 0px 0px;
}
.article4 .box5 p:nth-of-type(3) {
  font-size: 12px;
  padding: 0px 20px 20px 20px;
  margin: 20px 0px 0px 0px;
  font-weight: 700;
}
.article4 .box6 {
  display: flex;
  flex-direction: column;
  text-align: left;
  border-radius: 4px;
  background-color: #ffffff;
  overflow: hidden;
  cursor: pointer;
  height: -moz-max-content;
  height: max-content;
}
.article4 .box6 img {
  width: 100%;
}
.article4 .box6 p:first-of-type {
  padding: 20px 20px 0px 20px;
  margin: 0;
  font-size: 20px;
}
.article4 .box6 p:nth-of-type(2) {
  font-size: 13.3px;
  padding: 0px 20px 0px 20px;
  margin: 10.08px 0px 0px 0px;
}
.article4 .box6 p:nth-of-type(3) {
  font-size: 12px;
  padding: 0px 20px 20px 20px;
  margin: 20px 0px 0px 0px;
  font-weight: 700;
}

.shows {
  padding: 16px 23px 0px 23px;
  text-align: center;
  font-size: 24px;
  background-color: #f1f2f3;
}

.showsContainer {
  padding: 8px 23px 16px 23px;
  background-color: #f1f2f3;
}
.showsContainer .imgContainer {
  overflow: hidden;
  margin-bottom: 16px;
  position: relative;
  width: 100%;
}
.showsContainer .imgContainer .img {
  width: 100%;
  cursor: pointer;
}
.showsContainer .imgContainer .img:hover {
  transform: scale(1.03);
  transition: transform 0.5s ease;
}
.showsContainer .imgContainer .logoContainer1 {
  padding: 0px 24px 24px 24px;
  margin-top: 12px;
  position: absolute;
  height: 103px;
  bottom: 5px;
  left: 0px;
  right: 0px;
  text-align: center;
}
.showsContainer .imgContainer .logoContainer1 .logo {
  height: 83px;
}
.showsContainer .imgContainer .logoContainer1 .p1 {
  font-size: 14px;
  margin: 0;
}
.showsContainer .imgContainer .logoContainer2 {
  padding: 0px 24px 24px 24px;
  margin-top: 12px;
  position: absolute;
  height: 103px;
  bottom: 5px;
  left: 0px;
  right: 0px;
  text-align: center;
}
.showsContainer .imgContainer .logoContainer2 .logo {
  height: 83px;
}
.showsContainer .imgContainer .logoContainer2 .p2 {
  font-size: 14px;
  margin: 0;
  color: #ffffff;
}

.movies {
  padding: 16px 23px 0px 23px;
  text-align: center;
  font-size: 24px;
  background-color: #f1f2f3;
}

.gridContainer2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  padding: 18px 23px 16px 23px;
  -moz-column-gap: 20px;
       column-gap: 20px;
  background-color: #f1f2f3;
}
.gridContainer2 .imgContainer {
  overflow: hidden;
}
.gridContainer2 .imgContainer img {
  width: 100%;
  vertical-align: bottom;
  cursor: pointer;
}
.gridContainer2 .imgContainer img:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease;
}
.gridContainer2 .pContainer {
  text-align: left;
  padding: 0;
  margin-top: 8px;
}
.gridContainer2 .pContainer p {
  padding: 0;
  font-size: 18px;
  width: 100%;
  height: 100%;
}

.followDisney {
  padding: 16px 23px 0px 23px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 32px;
}
.followDisney p {
  font-size: 18px;
}
.followDisney .social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 32px;
  gap: 13px;
}
.followDisney .social img {
  height: 100%;
  cursor: pointer;
}

footer {
  padding: 32px 18px 32px 18px;
  text-align: center;
}
footer img {
  width: 80px;
  margin-top: 10px;
}
footer ul {
  padding: 0;
  margin-bottom: 20px;
}
footer li {
  font-size: 12px;
  list-style: none;
  display: inline;
  padding: 0px 8px 4px 8px;
  cursor: pointer;
}
footer p {
  padding-top: 20px;
  font-size: 12px;
}

@media screen and (min-width: 668px) {
  .showsContainer {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .showsContainer .imgContainer .logoContainer1 {
    padding: 0px 24px 16px 24px;
    bottom: -35px;
  }
  .showsContainer .imgContainer .logoContainer1 .logo {
    width: 50%;
    height: auto;
  }
  .showsContainer .imgContainer .logoContainer2 {
    padding: 0px 24px 16px 24px;
    bottom: -5px;
  }
  .showsContainer .imgContainer .logoContainer2 .logo {
    width: 50%;
    height: auto;
  }
}
@media screen and (min-width: 680px) {
  article1 {
    display: none;
  }
  .mandalorianContainer2 {
    display: contents;
    width: 100%;
    display: inline-block;
    position: relative;
  }
  .mandalorianContainer2 .mandalorian2 {
    width: 100%;
    height: auto;
    vertical-align: bottom;
  }
  .mandalorianContainer2 .contentContainerMandolorian2 {
    position: absolute;
    top: 0px;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    height: 100%;
    width: 100%;
    padding: 20px 25px 30px 25px;
    box-sizing: border-box;
  }
  .mandalorianContainer2 .contentContainerMandolorian2 .contentBody {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .mandalorianContainer2 .contentContainerMandolorian2 .contentBody .contentBodyDetail {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mandalorianContainer2 .contentContainerMandolorian2 .contentBody img {
    width: 100%;
    height: auto;
    cursor: pointer;
  }
  .mandalorianContainer2 .contentContainerMandolorian2 .contentBody p {
    color: #ffffff;
    height: 24px;
    width: 100%;
    margin: 8px 0px 0px 0px;
    text-align: center;
    line-height: 1.5;
    font-size: 15.1px;
    cursor: pointer;
  }
  .mandalorianContainer2 .contentContainerMandolorian2 .contentBody .button2 {
    display: flex;
    width: 174px;
    height: 14px;
    padding: 16px 32px 16px 32px;
    border: 1px solid #2e7d49;
    border-radius: 24px;
    background-color: #2e7d49;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    margin: 12px 12px 0px 12px;
  }
  .mandalorianContainer2 .contentContainerMandolorian2 .contentBody .button2:hover {
    background-color: rgba(46, 125, 74, 0.9411764706);
    border: 1px solid rgba(46, 125, 74, 0.9411764706);
  }
  .mandalorianContainer2 .contentContainerMandolorian2 .contentBody .button2 p {
    width: 138.773px;
    height: 16px;
    color: #ffffff;
    margin: 0;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    padding: 0;
    line-height: 1.2;
  }
}/*# sourceMappingURL=style.css.map */