body {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.2;
  color: #000000;
}

nav {
  height: 65px;
  max-width: 1600px;
  padding: 0 60px 0 60px;
  background-color: #ffffff;
  text-align: center;
  position: relative;
}
nav .button {
  position: absolute;
  width: 56px;
  height: 65px;
  left: 0;
  cursor: pointer;
}
nav .button .burger {
  display: inline-block;
  background-image: url(/media/lines.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 65px;
  width: 50%;
}
nav .button .burger:hover {
  background-image: url(/media/cross.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 65px;
  width: 50%;
}
nav .button .burger .menu {
  display: none;
}
nav .button .burger .menu ul {
  list-style-type: none;
}
nav .button .burger .menu ul li:first-of-type {
  border-top: 2px solid black;
}
nav .button .burger .menu ul li {
  font-size: 14px;
  font-weight: 800;
  border-top: 0.5px solid rgba(0, 0, 0, 0.1098039216);
  text-align: left;
  position: relative;
  display: block;
  list-style: none;
  width: 100vw;
  background-color: #ffffff;
  height: 61px;
  top: 49px;
  left: -56px;
  z-index: 1;
}
nav .button .burger .menu ul p {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 50px;
  margin: 0;
}
nav img {
  width: 83px;
  height: 34px;
  margin-top: 15px;
  cursor: pointer;
}

.button .burger:hover .menu {
  display: initial;
}

nav2 {
  display: none;
}

article1 {
  width: 100%;
  height: auto;
  font-size: 0px;
}
article1 .mandalorianContainer {
  width: 100%;
  font-size: 0px;
}
article1 .mandalorianContainer .mandalorian {
  width: 100%;
  height: auto;
  display: block;
}
article1 .contentContainerMandolorian {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  height: 165px;
  padding: 20px 25px 50px 25px;
}
article1 .contentContainerMandolorian .contentBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
article1 .contentContainerMandolorian .contentBody img {
  width: 250px;
  height: 73px;
  cursor: pointer;
}
article1 .contentContainerMandolorian .contentBody p {
  color: #ffffff;
  height: 24px;
  width: 183.828px;
  margin: 8px 0px 0px 0px;
  text-align: center;
  line-height: 1.5;
  font-size: 15.1px;
  cursor: pointer;
}
article1 .contentContainerMandolorian .contentBody .button2 {
  display: flex;
  width: 174px;
  height: 14px;
  padding: 16px 32px 16px 32px;
  border: 1px solid #2e7d49;
  border-radius: 24px;
  background-color: #2e7d49;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  margin: 12px 12px 0px 12px;
}
article1 .contentContainerMandolorian .contentBody .button2:hover {
  background-color: rgba(46, 125, 74, 0.9411764706);
  border: 1px solid rgba(46, 125, 74, 0.9411764706);
}
article1 .contentContainerMandolorian .contentBody .button2 p {
  width: 138.773px;
  height: 16px;
  color: #ffffff;
  margin: 0;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  padding: 0;
  line-height: 1.2;
}

.mandalorianContainer2 {
  display: none;
}

.contentContainerMandolorian2 {
  display: none;
}

article2 {
  min-width: 260px;
  padding: 8px 23px 16px 23px;
  display: flex;
  flex-direction: column;
  background-color: #f1f2f3;
  gap: 20px;
}
article2 .box1 {
  display: flex;
  flex-direction: column;
  text-align: left;
  border-radius: 4px;
  background-color: #ffffff;
  overflow: hidden;
  cursor: pointer;
}
article2 .box1 .img1 {
  width: 100%;
}
article2 .box1 .img2 {
  display: none;
}
article2 .box1 p:first-of-type {
  padding: 20px 20px 0px 20px;
  margin: 0;
  font-size: 20px;
}
article2 .box1 p:nth-of-type(2) {
  font-size: 13.3px;
  padding: 0px 20px 0px 20px;
  margin: 10.08px 0px 0px 0px;
  flex-grow: 1;
}
article2 .box1 p:nth-of-type(3) {
  font-size: 12px;
  padding: 0px 20px 20px 20px;
  margin: 20px 0px 0px 0px;
  font-weight: 700;
}
article2 .box2 {
  display: flex;
  flex-direction: column;
  text-align: left;
  border-radius: 4px;
  background-color: #ffffff;
  overflow: hidden;
  cursor: pointer;
}
article2 .box2 .img1 {
  width: 100%;
}
article2 .box2 .img2 {
  display: none;
}
article2 .box2 p:first-of-type {
  padding: 20px 20px 0px 20px;
  margin: 0;
  font-size: 20px;
}
article2 .box2 p:nth-of-type(2) {
  font-size: 13.3px;
  padding: 0px 20px 0px 20px;
  margin: 10.08px 0px 0px 0px;
  flex-grow: 1;
}
article2 .box2 p:nth-of-type(3) {
  font-size: 12px;
  padding: 0px 20px 20px 20px;
  margin: 20px 0px 0px 0px;
  font-weight: 700;
}
article2 .box3 {
  display: flex;
  flex-direction: column;
  text-align: left;
  border-radius: 4px;
  background-color: #ffffff;
  overflow: hidden;
  cursor: pointer;
}
article2 .box3 .img1 {
  width: 100%;
}
article2 .box3 .img2 {
  display: none;
}
article2 .box3 p:first-of-type {
  padding: 20px 20px 0px 20px;
  margin: 0;
  font-size: 20px;
}
article2 .box3 p:nth-of-type(2) {
  font-size: 13.3px;
  padding: 0px 20px 0px 20px;
  margin: 10.08px 0px 0px 0px;
  flex-grow: 1;
}
article2 .box3 p:nth-of-type(3) {
  font-size: 12px;
  padding: 0px 20px 20px 20px;
  margin: 20px 0px 0px 0px;
  font-weight: 700;
}
article2 .box4 {
  display: flex;
  flex-direction: column;
  text-align: left;
  border-radius: 4px;
  background-color: #ffffff;
  overflow: hidden;
  cursor: pointer;
}
article2 .box4 .img1 {
  width: 100%;
}
article2 .box4 .img2 {
  display: none;
}
article2 .box4 p:first-of-type {
  padding: 20px 20px 0px 20px;
  margin: 0;
  font-size: 20px;
}
article2 .box4 p:nth-of-type(2) {
  font-size: 13.3px;
  padding: 0px 20px 0px 20px;
  margin: 10.08px 0px 0px 0px;
  flex-grow: 1;
}
article2 .box4 p:nth-of-type(3) {
  font-size: 12px;
  padding: 0px 20px 20px 20px;
  margin: 20px 0px 0px 0px;
  font-weight: 700;
}

article3 {
  display: flex;
  flex-direction: column;
  background-color: #030c40;
  text-align: center;
  color: #ffffff;
  justify-content: center;
  align-items: center;
}
article3 .whatsNew {
  padding: 16px 23px 0px 23px;
  height: 28px;
  margin: 0;
  font-size: 24px;
  cursor: auto;
}
article3 .gridContainer1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  padding: 18px 23px 16px 23px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
article3 .gridContainer1 .imgContainer {
  overflow: hidden;
}
article3 .gridContainer1 .imgContainer img {
  width: 100%;
  vertical-align: bottom;
  cursor: pointer;
}
article3 .gridContainer1 .imgContainer img:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease;
}
article3 .gridContainer1 .pContainer {
  text-align: left;
  padding: 0;
  margin-top: 8px;
}
article3 .gridContainer1 .pContainer p {
  padding: 0;
  font-size: 18px;
  width: 100%;
  height: 100%;
}
article3 .bannerContainer {
  padding: 0px 23px 8px 23px;
  overflow: hidden;
}
article3 .bannerContainer img {
  width: 100%;
}
article3 .button3 {
  display: flex;
  width: 174px;
  height: 14px;
  padding: 16px 32px 16px 32px;
  border: 1px solid #016ef5;
  border-radius: 24px;
  background-color: #016ef5;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  margin: 0px 0px 8px 0px;
}
article3 .button3:hover {
  background-color: rgba(1, 111, 245, 0.9411764706);
  border: 1px solid rgba(1, 111, 245, 0.9411764706);
}
article3 .button3 p {
  width: 138.773px;
  height: 16px;
  color: #ffffff;
  margin: 0;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  padding: 0;
  line-height: 1.2;
}
article3 .terms {
  font-size: 13.2px;
  padding: 0px 23px 16px 23px;
}

.shop {
  padding: 16px 23px 0px 23px;
  text-align: center;
  font-size: 24px;
  background-color: #f1f2f3;
}

.shopContainer {
  padding: 8px 23px 16px 23px;
  overflow: hidden;
  background-color: #f1f2f3;
  display: flex;
  flex-direction: column;
  color: #ffffff;
}
.shopContainer .imageContainer {
  overflow: hidden;
}
.shopContainer .imageContainer img {
  width: 100%;
  background-color: #002453;
  cursor: pointer;
  vertical-align: bottom;
}
.shopContainer .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #002453;
  padding: 20px 25px 50px 25px;
}
.shopContainer .info img {
  width: 300px;
  cursor: pointer;
}
.shopContainer .info p:first-of-type {
  margin: 8px 0px 0px 0px;
  font-size: 15px;
  cursor: pointer;
}
.shopContainer .info p:nth-of-type(2) {
  padding-top: 15px;
  cursor: pointer;
}
.shopContainer .info p:nth-of-type(2):hover {
  text-decoration: underline;
}

.shopContainer:hover .shopImg {
  transform: scale(1.03);
  transition: transform 0.5s ease;
}

.shopContainer2 {
  display: none;
}

.parks {
  padding: 16px 23px 0px 23px;
  text-align: center;
  font-size: 24px;
  background-color: #f1f2f3;
}

.parksContainer {
  padding: 8px 23px 16px 23px;
  overflow: hidden;
  background-color: #f1f2f3;
  display: flex;
  flex-direction: column;
  color: #ffffff;
}
.parksContainer .imageContainer {
  overflow: hidden;
}
.parksContainer .imageContainer img {
  width: 100%;
  background-color: #000000;
  cursor: pointer;
  vertical-align: bottom;
}
.parksContainer .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  padding: 20px 25px 50px 25px;
}
.parksContainer .info img {
  width: 511px;
  cursor: pointer;
}
.parksContainer .info p:first-of-type {
  margin: 8px 0px 0px 0px;
  font-size: 15px;
  cursor: pointer;
}
.parksContainer .info p:nth-of-type(2) {
  padding-top: 15px;
  cursor: pointer;
}
.parksContainer .info p:nth-of-type(2):hover {
  text-decoration: underline;
}
.parksContainer .parkImg2 {
  display: none;
}

.parksContainer:hover .parkImg {
  transform: scale(1.03);
  transition: transform 0.5s ease;
}

.parksContainer2 {
  display: none;
}

.article4 {
  min-width: 260px;
  padding: 8px 23px 16px 23px;
  display: flex;
  flex-direction: column;
  background-color: #f1f2f3;
  gap: 20px;
}
.article4 .box5 {
  display: flex;
  flex-direction: column;
  text-align: left;
  border-radius: 4px;
  background-color: #ffffff;
  overflow: hidden;
  cursor: pointer;
}
.article4 .box5 .img1 {
  width: 100%;
}
.article4 .box5 .img2 {
  display: none;
}
.article4 .box5 p:first-of-type {
  padding: 20px 20px 0px 20px;
  margin: 0;
  font-size: 20px;
}
.article4 .box5 p:nth-of-type(2) {
  font-size: 13.3px;
  padding: 0px 20px 0px 20px;
  margin: 10.08px 0px 0px 0px;
  flex-grow: 1;
}
.article4 .box5 p:nth-of-type(3) {
  font-size: 12px;
  padding: 0px 20px 20px 20px;
  margin: 20px 0px 0px 0px;
  font-weight: 700;
}
.article4 .box5 .box5Img2 {
  display: none;
}
.article4 .box6 {
  display: flex;
  flex-direction: column;
  text-align: left;
  border-radius: 4px;
  background-color: #ffffff;
  overflow: hidden;
  cursor: pointer;
}
.article4 .box6 .img1 {
  width: 100%;
}
.article4 .box6 .img2 {
  display: none;
}
.article4 .box6 p:first-of-type {
  padding: 20px 20px 0px 20px;
  margin: 0;
  font-size: 20px;
}
.article4 .box6 p:nth-of-type(2) {
  font-size: 13.3px;
  padding: 0px 20px 0px 20px;
  margin: 10.08px 0px 0px 0px;
  flex-grow: 1;
}
.article4 .box6 p:nth-of-type(3) {
  font-size: 12px;
  padding: 0px 20px 20px 20px;
  margin: 20px 0px 0px 0px;
  font-weight: 700;
}

.shows {
  padding: 16px 23px 0px 23px;
  text-align: center;
  font-size: 24px;
  background-color: #f1f2f3;
}

.showsContainer {
  padding: 8px 23px 16px 23px;
  background-color: #f1f2f3;
}
.showsContainer .imgContainer {
  overflow: hidden;
  margin-bottom: 16px;
  position: relative;
  width: 100%;
}
.showsContainer .imgContainer .img {
  width: 100%;
  cursor: pointer;
}
.showsContainer .imgContainer .img:hover {
  transform: scale(1.03);
  transition: transform 0.5s ease;
}
.showsContainer .imgContainer .img2 {
  display: none;
}
.showsContainer .imgContainer .logoContainer1 {
  padding: 0px 24px 24px 24px;
  margin-top: 12px;
  position: absolute;
  height: 103px;
  bottom: 5px;
  left: 0px;
  right: 0px;
  text-align: center;
}
.showsContainer .imgContainer .logoContainer1 .logo {
  height: 83px;
}
.showsContainer .imgContainer .logoContainer1 .p1 {
  font-size: 14px;
  margin: 0;
}
.showsContainer .imgContainer .logoContainer2 {
  padding: 0px 24px 24px 24px;
  margin-top: 12px;
  position: absolute;
  height: 103px;
  bottom: 5px;
  left: 0px;
  right: 0px;
  text-align: center;
}
.showsContainer .imgContainer .logoContainer2 .logo {
  height: 83px;
}
.showsContainer .imgContainer .logoContainer2 .p2 {
  font-size: 14px;
  margin: 0;
  color: #ffffff;
}

.movies {
  padding: 16px 23px 0px 23px;
  text-align: center;
  font-size: 24px;
  background-color: #f1f2f3;
}

.gridContainer2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  padding: 18px 23px 16px 23px;
  -moz-column-gap: 20px;
       column-gap: 20px;
  background-color: #f1f2f3;
}
.gridContainer2 .imgContainer {
  overflow: hidden;
}
.gridContainer2 .imgContainer img {
  width: 100%;
  vertical-align: bottom;
  cursor: pointer;
}
.gridContainer2 .imgContainer img:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease;
}
.gridContainer2 .pContainer {
  text-align: left;
  padding: 0;
  margin-top: 8px;
}
.gridContainer2 .pContainer p {
  padding: 0;
  font-size: 18px;
  width: 100%;
  height: 100%;
}

.gridContainer3 {
  display: none;
}

.followDisney {
  padding: 16px 23px 0px 23px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 32px;
}
.followDisney p {
  font-size: 18px;
}
.followDisney .social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 32px;
  gap: 13px;
}
.followDisney .social img {
  height: 100%;
  cursor: pointer;
}

footer {
  padding: 32px 18px 32px 18px;
  text-align: center;
}
footer img {
  width: 80px;
  margin-top: 10px;
}
footer ul {
  padding: 0;
  margin-bottom: 20px;
}
footer li {
  font-size: 12px;
  list-style: none;
  display: inline;
  padding: 0px 8px 4px 8px;
  cursor: pointer;
}
footer p {
  padding-top: 20px;
  font-size: 12px;
}

@media screen and (min-width: 668px) {
  .showsContainer {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .showsContainer .imgContainer .logoContainer1 {
    padding: 0px 24px 16px 24px;
    bottom: -35px;
  }
  .showsContainer .imgContainer .logoContainer1 .logo {
    width: 50%;
    height: auto;
  }
  .showsContainer .imgContainer .logoContainer2 {
    padding: 0px 24px 16px 24px;
    bottom: -5px;
  }
  .showsContainer .imgContainer .logoContainer2 .logo {
    width: 50%;
    height: auto;
  }
}
@media screen and (min-width: 680px) {
  article1 {
    display: none;
  }
  .mandalorianContainer2 {
    display: contents;
    width: 100%;
    display: inline-block;
    position: relative;
  }
  .mandalorianContainer2 .mandalorian2 {
    width: 100%;
    height: auto;
    vertical-align: bottom;
  }
  .mandalorianContainer2 .contentContainerMandolorian2 {
    position: absolute;
    top: 0px;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    height: 100%;
    width: 100%;
    padding: 20px 25px 30px 25px;
    box-sizing: border-box;
  }
  .mandalorianContainer2 .contentContainerMandolorian2 .contentBody {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .mandalorianContainer2 .contentContainerMandolorian2 .contentBody .contentBodyDetail {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 196px;
  }
  .mandalorianContainer2 .contentContainerMandolorian2 .contentBody img {
    width: 100%;
    height: auto;
    cursor: pointer;
  }
  .mandalorianContainer2 .contentContainerMandolorian2 .contentBody p {
    color: #ffffff;
    height: 24px;
    width: 100%;
    margin: 8px 0px 0px 0px;
    text-align: center;
    line-height: 1.5;
    font-size: 15.1px;
    cursor: pointer;
  }
  .mandalorianContainer2 .contentContainerMandolorian2 .contentBody .button2 {
    display: flex;
    width: 174px;
    height: 14px;
    padding: 16px 32px 16px 32px;
    border: 1px solid #2e7d49;
    border-radius: 24px;
    background-color: #2e7d49;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    margin: 12px 12px 0px 12px;
  }
  .mandalorianContainer2 .contentContainerMandolorian2 .contentBody .button2:hover {
    background-color: rgba(46, 125, 74, 0.9411764706);
    border: 1px solid rgba(46, 125, 74, 0.9411764706);
  }
  .mandalorianContainer2 .contentContainerMandolorian2 .contentBody .button2 p {
    width: 138.773px;
    height: 16px;
    color: #ffffff;
    margin: 0;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    padding: 0;
    line-height: 1.2;
  }
  article2 {
    padding: 8px 23px 16px 23px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: #f1f2f3;
    gap: 20px;
  }
  article2 .box1 .img1 {
    display: none;
  }
  article2 .box1 .img2 {
    display: initial;
    width: 100%;
  }
  article2 .box1 p:first-of-type {
    font-size: 17.6px;
  }
  article2 .box2 .img1 {
    display: none;
  }
  article2 .box2 .img2 {
    display: initial;
    width: 100%;
  }
  article2 .box2 p:first-of-type {
    font-size: 17.6px;
  }
  article2 .box3 .img1 {
    display: none;
  }
  article2 .box3 .img2 {
    display: initial;
    width: 100%;
  }
  article2 .box3 p:first-of-type {
    font-size: 17.6px;
  }
  article2 .box4 .img1 {
    display: none;
  }
  article2 .box4 .img2 {
    display: initial;
    width: 100%;
  }
  article2 .box4 p:first-of-type {
    font-size: 17.6px;
  }
  .article4 .box5 .box5Img {
    display: none;
  }
  .article4 .box5 .box5Img2 {
    display: initial;
  }
}
@media screen and (min-width: 768px) {
  .mandalorianContainer2 .contentContainerMandolorian2 {
    padding: 30px 30px 30px 30px;
  }
  article2 {
    padding: 12px 48px 24px 48px;
  }
  .shop {
    padding: 24px 48px 0px 48px;
    text-align: center;
    font-size: 30px;
    background-color: #f1f2f3;
  }
  .shopContainer {
    display: none;
  }
  .shopContainer2 {
    display: initial;
    padding: 12px 48px 24px 48px;
    position: relative;
    display: inline-block;
    background-color: #f1f2f3;
  }
  .shopContainer2 .shopImg2 {
    width: 100%;
    height: auto;
  }
  .shopContainer2 .infoContainer {
    display: flex;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 42px 78px 54px 78px;
  }
  .shopContainer2 .infoContainer .contentBody {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
  }
  .shopContainer2 .infoContainer .contentBody .content {
    max-width: 36%;
    display: flex;
    flex-direction: column;
    text-align: right;
    color: #ffffff;
  }
  .shopContainer2:hover .shopImg2 {
    transform: scale(1.03);
    transition: transform 0.5s ease;
  }
  .parks {
    padding: 24px 48px 0px 48px;
    text-align: center;
    font-size: 30px;
    background-color: #f1f2f3;
  }
  .parksContainer {
    padding: 12px 48px 0px 48px;
  }
  .parksContainer .parkImg {
    display: none;
  }
  .parksContainer .parkImg2 {
    display: initial;
  }
  .parksContainer:hover .parkImg2 {
    transform: scale(1.03);
    transition: transform 0.5s ease;
  }
  .article4 {
    padding: 12px 48px 0px 48px;
  }
}
@media screen and (min-width: 769px) {
  nav {
    display: none;
  }
  nav2 {
    display: initial;
    height: 65px;
    max-width: 1600px;
    padding: 0 0px 0 0px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
  }
  nav2 img {
    width: 95px;
    height: 40px;
    padding: 15px 8px 10px 21px;
    cursor: pointer;
  }
  nav2 .ul1 {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  nav2 .ul1 .li1 {
    display: flex;
    flex-direction: row;
    padding: 15px 2px 10px 11px;
    font-size: 14px;
    font-weight: 800;
    list-style: none;
    align-items: center;
  }
  nav2 .ul1 .li1 .p1 {
    margin: 0;
    padding: 12px 12px 10px 12px;
  }
  nav2 .ul1 .li1 .subMenu {
    display: none;
    position: relative;
  }
  nav2 .ul1 .li1 .subMenu ul {
    list-style-type: none;
    position: absolute;
    top: 30px;
    left: -108px;
    z-index: 1;
    padding: 0px;
    width: -moz-max-content;
    width: max-content;
  }
  nav2 .ul1 .li1 .subMenu ul li {
    display: block;
    background-color: #232b2d;
    padding: 12px 26px 12px 26px;
  }
  nav2 .ul1 .li1 .subMenu ul li p {
    margin: 0;
    color: #ffffff;
    font-size: 15px;
  }
  nav2 .ul1 .li1 .subMenu ul li:first-of-type {
    padding-top: 28px;
  }
  nav2 .ul1 .li1 .subMenu ul li:last-of-type {
    padding-bottom: 28px;
  }
  nav2 .ul1 .li1:hover .subMenu {
    display: block;
  }
  nav2 .ul1 .li1:hover .p1 {
    color: #0077da;
    cursor: pointer;
  }
  nav2 .ul1 .li1 .subMenu ul li:hover p {
    color: #0077da;
    cursor: pointer;
  }
  .mandalorianContainer2 .contentContainerMandolorian2 {
    padding: 30px 30px 30px 30px;
  }
  article2 .box1 {
    border-radius: 0px;
  }
  article2 .box2 {
    border-radius: 0px;
  }
  article2 .box3 {
    border-radius: 0px;
  }
  article2 .box4 {
    border-radius: 0px;
  }
  .showsContainer .imgContainer .img {
    display: none;
  }
  .showsContainer .imgContainer .img2 {
    display: block;
    width: 100%;
    cursor: pointer;
  }
  .showsContainer .imgContainer .img2:hover {
    transform: scale(1.03);
    transition: transform 0.5s ease;
  }
  .showsContainer .imgContainer .logoContainer1 {
    bottom: 5px;
  }
  .showsContainer .imgContainer .logoContainer2 {
    bottom: 30px;
  }
}
@media screen and (min-width: 775px) {
  .contentContainerMandolorian2 .contentBody .contentBodyDetail .button2 {
    min-height: 20px;
    width: 198px;
    padding: 13px 20px 13px 20px;
  }
  .contentContainerMandolorian2 .contentBody .contentBodyDetail .button2 p {
    font-size: 14px;
  }
}
@media screen and (min-width: 960px) {
  .mandalorianContainer2 .contentContainerMandolorian2 {
    padding: 50px 50px 50px 50px;
  }
  .mandalorianContainer2 .contentContainerMandolorian2 .contentBody .contentBodyDetail {
    max-width: 36%;
  }
  .parksContainer {
    display: none;
  }
  .parksContainer2 {
    display: initial;
    padding: 12px 48px 0px 48px;
    position: relative;
    display: inline-block;
    background-color: #f1f2f3;
  }
  .parksContainer2 .parksImg2 {
    width: 100%;
    height: auto;
  }
  .parksContainer2 .infoContainer2 {
    display: flex;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 42px 78px 54px 78px;
  }
  .parksContainer2 .infoContainer2 .contentBody2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    max-width: 100%;
  }
  .parksContainer2 .infoContainer2 .contentBody2 .content2 {
    max-height: 100%;
    max-width: 36%;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #ffffff;
  }
  .parksContainer2 .infoContainer2 .contentBody2 .content2 p:nth-of-type(2) {
    margin: 0;
  }
  .shopContainer2:hover .shopImg2 {
    transform: scale(1.03);
    transition: transform 0.5s ease;
  }
  .article4 {
    display: flex;
    flex-direction: row;
  }
  .article4 .box5 p:first-of-type {
    font-size: 17.6px;
  }
  .article4 .box5 p:nth-of-type(2) {
    font-size: 13.6px;
  }
  .article4 .box5 p:nth-of-type(3) {
    font-size: 12px;
  }
  .article4 .box6 p:first-of-type {
    font-size: 17.6px;
  }
  .article4 .box6 p:nth-of-type(2) {
    font-size: 13.6px;
  }
  .article4 .box6 p:nth-of-type(3) {
    font-size: 12px;
  }
  .gridContainer2 {
    display: none;
  }
  .gridContainer3 {
    display: contents;
    background-color: #f1f2f3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, minmax(min-content, max-content));
    padding: 18px 23px 16px 23px;
    -moz-column-gap: 20px;
         column-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .gridContainer3 .imgContainer {
    overflow: hidden;
  }
  .gridContainer3 .imgContainer img {
    width: 100%;
    vertical-align: bottom;
    cursor: pointer;
  }
  .gridContainer3 .imgContainer img:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease;
  }
  .gridContainer3 .pContainer {
    text-align: left;
    padding: 0;
    margin-top: 8px;
  }
  .gridContainer3 .pContainer p {
    padding: 0;
    font-size: 18px;
    width: 100%;
    height: 100%;
  }
}
@media screen and (min-width: 961px) {
  article2 {
    display: flex;
    flex-direction: row;
  }
  article2 .box1 {
    flex-basis: 25%;
    flex-grow: 1;
  }
  article2 .box1 .img2 {
    width: 100%;
  }
  article2 .box1 p:first-of-type {
    padding: 20px 20px 0px 20px;
    margin: 0;
    font-size: 20px;
  }
  article2 .box1 p:nth-of-type(2) {
    font-size: 13.3px;
    padding: 0px 20px 0px 20px;
    margin: 10.08px 0px 0px 0px;
    flex-grow: 1;
  }
  article2 .box1 p:nth-of-type(3) {
    font-size: 12px;
    padding: 0px 20px 20px 20px;
    margin: 20px 0px 0px 0px;
    font-weight: 700;
  }
  article2 .box2 {
    flex-basis: 25%;
    flex-grow: 1;
  }
  article2 .box2 .img2 {
    width: 100%;
  }
  article2 .box2 p:first-of-type {
    padding: 20px 20px 0px 20px;
    margin: 0;
    font-size: 20px;
  }
  article2 .box2 p:nth-of-type(2) {
    font-size: 13.3px;
    padding: 0px 20px 0px 20px;
    margin: 10.08px 0px 0px 0px;
    flex-grow: 1;
  }
  article2 .box2 p:nth-of-type(3) {
    font-size: 12px;
    padding: 0px 20px 20px 20px;
    margin: 20px 0px 0px 0px;
    font-weight: 700;
  }
  article2 .box3 {
    flex-basis: 25%;
    flex-grow: 1;
  }
  article2 .box3 .img2 {
    width: 100%;
  }
  article2 .box3 p:first-of-type {
    padding: 20px 20px 0px 20px;
    margin: 0;
    font-size: 20px;
  }
  article2 .box3 p:nth-of-type(2) {
    font-size: 13.3px;
    padding: 0px 20px 0px 20px;
    margin: 10.08px 0px 0px 0px;
    flex-grow: 1;
  }
  article2 .box3 p:nth-of-type(3) {
    font-size: 12px;
    padding: 0px 20px 20px 20px;
    margin: 20px 0px 0px 0px;
    font-weight: 700;
  }
  article2 .box4 {
    flex-basis: 25%;
    flex-grow: 1;
  }
  article2 .box4 .img2 {
    width: 100%;
  }
  article2 .box4 p:first-of-type {
    padding: 20px 20px 0px 20px;
    margin: 0;
    font-size: 20px;
  }
  article2 .box4 p:nth-of-type(2) {
    font-size: 13.3px;
    padding: 0px 20px 0px 20px;
    margin: 10.08px 0px 0px 0px;
    flex-grow: 1;
  }
  article2 .box4 p:nth-of-type(3) {
    font-size: 12px;
    padding: 0px 20px 20px 20px;
    margin: 20px 0px 0px 0px;
    font-weight: 700;
  }
}
@media screen and (min-width: 1024px) {
  .mandalorianContainer2 .contentContainerMandolorian2 {
    padding: 32px 104px 32px 104px;
  }
}
@media screen and (min-width: 1240px) {
  article2 {
    padding: 20px 80px 40px 80px;
  }
  article3 .whatsNew {
    padding: 40px 80px 0px 80px;
    width: 864px;
    height: auto;
    font-size: 30px;
  }
  article3 .gridContainer1 {
    padding: 20px 80px 40px 80px;
  }
  article3 .bannerContainer {
    padding: 0px 80px 20px 80px;
  }
  article3 .bannerContainer img {
    width: 864px;
    height: auto;
  }
  .shopContainer2 {
    padding: 20px 80px 40px 80px;
  }
  .shopContainer2 .infoContainer {
    padding: 50px 126px 70px 126px;
  }
  .parksContainer2 {
    padding: 20px 80px 0px 80px;
  }
  .parksContainer2 .infoContainer2 {
    padding: 50px 126px 70px 126px;
  }
  .article4 {
    padding: 20px 80px 40px 80px;
  }
  .showsContainer {
    padding: 20px 80px 40px 80px;
  }
  .gridContainer3 {
    padding: 20px 80px 40px 80px;
  }
}
@media screen and (min-width: 1440px) {
  article2 {
    padding: 20px 96px 40px 96px;
  }
}
@media screen and (min-width: 1600px) {
  body {
    max-width: 1600px;
    margin: 0px auto 0px auto;
  }
}/*# sourceMappingURL=style.css.map */